In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [2]:
# Load the Titanic dataset
data = pd.read_csv('titanic_train.csv')

In [3]:
# Handle missing values
data['Age'] = data['Age'].fillna(data['Age'].mean())
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

In [4]:
# Encode categorical features
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'])

In [5]:
# Feature engineering
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [6]:
# Normalize numerical features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data['Age_scaled'] = scaler.fit_transform(data['Age'].values.reshape(-1, 1))
data['Fare_scaled'] = scaler.fit_transform(data['Fare'].values.reshape(-1, 1))

In [7]:
# Display the preprocessed dataset
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    0  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1      0
2                             Heikkinen, Miss. Laina    1  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1      0
4                           Allen, Mr. William Henry    0  35.0      0      0

             Ticket     Fare Cabin  Embarked_C  Embarked_Q  Embarked_S  \
0         A/5 21171   7.2500   NaN       False       False        True
1          PC 17599  71.2833   C85        True       False       False
2  STON/O2. 3101282   7.9250   NaN       False       False        True
3            113803  53.1000  C123       False       False        True
4            373450   8.0500   NaN       False       False        True

   FamilySize Title  Age_scaled  Fare_scaled
0           2    Mr   -0.592481    -0.502445
1           2   Mrs    0.638789     0.786845
2           1  Miss   -0.284663    -0.488854
3           2   Mrs    0.407926     0.420730
4           1    Mr    0.407926    -0.486337